<template>
  <amsom-modal title="Module">
    <amsom-overlay :loading="loading" class="w-100">
      <form @submit.prevent="validate()">
        <div class="text-center">
          <img :src="loginImage" alt="logo" role="button" style="height: 90px" />
        </div>
        <div class="px-5">
          <div id="input-group-identifiant">
            <label for="input-identifiant" class="form-label d-block"> Adresse Mail </label>
            <input
              id="input-identifiant"
              v-model="credentials.email"
              class="form-control"
              type="text"
              placeholder="Saisir votre adresse mail"
              required
            />
          </div>
          <div id="input-group-password">
            <label for="input-password" class="form-label d-block"> Mot de passe </label>
            <div class="position-relative">
              <input
                id="input-password"
                v-model="credentials.password"
                class="form-control"
                :type="showPassword ? 'text' : 'password'"
                placeholder="******"
                required
              />
              <div
                class="position-absolute end-0 top-0 h-100 d-flex align-items-center hoverable px-2 text-dark"
              >
                <font-awesome-icon
                  v-if="!showPassword"
                  icon="fa-solid fa-eye"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Afficher mot de passe en clair"
                  @click="showPassword = !showPassword"
                />
                <font-awesome-icon
                  v-else-if="showPassword"
                  icon="fa-solid fa-eye-slash"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Cacher mot de passe"
                  @click="showPassword = !showPassword"
                />
              </div>
            </div>
          </div>

          <div v-if="error === true && !loading > 0" class="text-danger" role="alert">
            Une erreur est survenu , veuillez réessayer !
          </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-center my-4">
          <button class="btn btn-primary btn-lg rounded-btn py-2" type="submit">
            Je me connecte
            <font-awesome-icon v-if="!loading > 0" icon="fa-solid fa-arrow-right" class="ms-2" />
            <font-awesome-icon
              v-else
              icon="fa-solid fa-circle-notch"
              spin
              class="ms-2 icon-secondary text-light"
            />
          </button>
        </div>
      </form>
    </amsom-overlay>
  </amsom-modal>
</template>

<script>
import { AmsomModal, AmsomOverlay } from '@amsom-habitat/ui'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faEye, faEyeSlash } from '@fortawesome/free-solid-svg-icons'

library.add(faEye, faEyeSlash)

export default {
  name: 'AmsomLoginModal',

  components: {
    AmsomModal,
    FontAwesomeIcon,
    AmsomOverlay
  },

  props: {
    loginImage: {
      type: String,
      required: true
    },

    error: {
      type: String,
      required: false
    },

    defaultEmailExtension: {
      type: String,
      required: false,
      default: '@amsom-habitat.fr'
    },

    loading: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  emits: ['login'],

  data() {
    return {
      credentials: {
        email: null,
        password: null
      },

      showPassword: false,

      afterLoginRoute: null
    }
  },

  methods: {
    validate() {
      const self = this
      if (!this.credentials.email.includes('@'))
        this.credentials.email = this.credentials.email + this.defaultEmailExtension

      this.$emit('login', this.credentials)
    }
  }
}
</script>

<style>
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
</style>
