<template>
  <amsom-overlay
    :loading="loading"
    class="w-100"
  >
    <div
      class="container-fluid h-100 bg-light"
    >
      <div class="row h-100 text-center align-items-center">
        <div class="col-12 col-md-6 px-2 px-sm-2 px-md-3 px-lg-4 px-xl-5">
          <img
            :src="loginImage"
            class="w-50 mb-4 d-md-none img-fluid"
          >
          <h1 v-if="welcomeMessage" class="text-primary mb-5">
            {{ welcomeMessage }}
          </h1>
          <amsom-card class="rounded-4">
            <h3 class="text-primary">
              Se connecter
            </h3>
            <form
              class="text-start"
              @submit.prevent="validate()"
            >
              <div class="w-100 text-center">
                <h4
                  v-if="error"
                  class="text-danger"
                >
                  {{ error }}
                </h4>
              </div>
              <div
                id="input-group-identifiant"
              >
                <label
                  for="input-identifiant"
                  class="form-label d-block">
                  Mon identifiant
                </label>
                <input
                  id="input-identifiant"
                  v-model="credentials.email"
                  class="form-control"
                  type="text"
                  placeholder="Saisir votre adresse mail"
                  required
                />
              </div>
              <div
                id="input-group-password"
              >
                <label
                  for="input-password"
                  class="form-label d-block">
                  Mon mot de passe
                </label>
                <div class="position-relative">
                  <input
                    id="input-password"
                    v-model="credentials.password"
                    class="form-control"
                    :type="showPassword ? 'text' : 'password'"
                    placeholder="******"
                    required
                  />
                  <div
                    class="position-absolute end-0 top-0 h-100 d-flex align-items-center hoverable px-2 text-dark"
                  >
                    <font-awesome-icon
                      v-if="!showPassword"
                      icon="fa-solid fa-eye"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Afficher mot de passe en clair"
                      @click="showPassword = !showPassword"
                    />
                    <font-awesome-icon
                      v-else-if="showPassword"
                      icon="fa-solid fa-eye-slash"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Cacher mot de passe"
                      @click="showPassword = !showPassword"
                    />
                  </div>
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary w-100 mt-3"
              >
                <span>Je me connecte</span>
                <font-awesome-icon
                  icon="fa-solid fa-right-to-bracket"
                  class="mx-3 my-auto"
                />
              </button>
            </form>
          </amsom-card>
        </div>
        <div class="d-none d-md-block col-6">
          <img
            :src="loginImage"
            alt="Illustration de connexion"
            class="px-2 img-fluid"
            :style="'width:' + imageSize"
          >
        </div>
      </div>
    </div>
  </amsom-overlay>
</template>

<script>
import { AmsomOverlay, AmsomCard } from "@amsom-habitat/ui"
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {library} from '@fortawesome/fontawesome-svg-core'
import {faEye, faEyeSlash, faRightToBracket} from '@fortawesome/free-solid-svg-icons'

library.add(faEye, faEyeSlash, faRightToBracket)

export default {
  name: "AmsomLoginPage",

  components: {
    AmsomOverlay,
    AmsomCard,
    FontAwesomeIcon
  },

  props: {
    loginImage: {
      type: String,
      required: true,
    },

    error: {
      type: String,
      required: false,
    },

    defaultEmailExtension: {
      type: String,
      required: false,
      default: '@amsom-habitat.fr',
    },

    welcomeMessage: {
      type: String,
      required: false,
    },

    loading: {
      type: Boolean,
      required: false,
      default: false,
    },

    imageSize: {
      type: String,
      required: false,
      default: '75%'
    }
  },

  emits: ['login'],

  data() {
    return {
      credentials: {
        email: null,
        password: null
      },

      showPassword: false,

      afterLoginRoute: null,
    }
  },

  methods: {
    validate() {
      const self = this
      if (!this.credentials.email.includes('@'))
        this.credentials.email = this.credentials.email + this.defaultEmailExtension;

      this.$emit('login', this.credentials);
    }
  }
}
</script>

<style>
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
</style>
